#boards {
	width: 90%;
	display: flex;
	flex: 1 0 21%;
	flex-wrap: wrap;
	margin: auto;
	background-color: aqua;
}

#boardControls {
	margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
	display: none;
}