#content {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
}

#username {
	border: none;
	border-bottom: 2px solid black;
	border-radius: 3px;
}

#button1 {
	border-radius: 8px;
	border: 2px solid black;
	transition-duration: 0.4s;
	font-family: pirulen, sans-serif;
	font-weight: 200;
	font-style: normal;
}

#button1:hover {
	background-color: black;
}

#board {
	margin: auto;
	text-align: center;
}

#header {
	margin: auto;
}

#numOfGamesValue{
	border: none;
	border-bottom: 2px solid black;
	border-radius: 3px;
}

#numOfGames{
	display: block;
	margin-top: 1%;
}

#opening{
	border: none;
	border-bottom: 2px solid black;
	border-radius: 3px;
}